
@{
    ViewData["Title"] = "CheckInS";
    Layout = "~/Areas/HotelDashboard/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<style>

    .d-flex{display:flex}

    #content-wrapper {
        padding-top: 15px
    }

    .formCheckIn {
        background: #fff;
        box-shadow: -1px 0px 8px 2px rgb(151 126 252 / 50%);
        /* //margin-right:25px; */
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 2%
    }

    .form-control_Date {
        border: none !important;
        /*  // border-bottom: 1px solid #787878 !important; */
        border-radius: 0px !important;
        margin-right: 5% !important;
        margin-bottom: 18px;
        background: #fff !important;
    }

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
        margin-bottom: 18px;
    }

    .form-group {
        width: 45% !important;
        margin-right: 5% !important;
    }

    #form-heading {
        margin-left: 20px;
        color: #fff;
        background: #4594fc;
        margin-bottom: 0px;
        width: 22%;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 25px;
    }

    .form-control:focus {
        color: #212529;
        background-color: #fff !important;
        border-color: none;
        outline: 0;
        box-shadow: none !important;
        border-bottom: 2px solid #9979f6 !important;
    }

    .addAdult {
       /*  background: #8786fa; */
        background: #5520eb;
        color: #fff;
    }

    .addChild {
        /*  position: absolute;
            bottom:35px;
            right: 25%; */
        background: #5520eb;
        color: #fff;
    }

    .profile-pic {
        /*  position: absolute; */
        height: 120px;
        width: 50%;
        left: 50%;
        /*   transform: translateX(-50%); */
        top: 0px;
        z-index: 1001;
        padding: 10px;
        justify-content: center;
        display: flex
    }

        .profile-pic img {
            /*   border-radius: 50%;
                box-shadow: 0px 0px 5px 0px #c1c1c1; */
            cursor: pointer;
            /*  width: 100px; */
            height: 100px;
        }

    .px-5{padding-left:5%;padding-right:2%}

    #formTable{display:block}

   .card {
        margin: 0 -8px 32px -8px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 2px 2px 8px rgb(0 0 0 / 31%);
        background: #fff;
    }
</style>

<div class="formCheckIn px-5">
    <div class="row">
        <div class="col-md-6">
            <p class="text-left" style="margin:0px">
                Check-In Date

            </p>
            <input class="form-control_Date" id="currentTime" type="text" disabled style="font-weight:600;font-size:16px;" />
        </div>
        @* <div class="col-md-6 text-right">
            <button class="btn btn-md addAdult" onclick="addAdult()">Add Adult</button>
            <button class="btn btn-md addChild" onclick="addChild()">Add Child</button>
        </div> *@
    </div>

    <div>
        <form id="main-form">
            <h4 style="color:#5520eb;font-weight:700;">Adult 1</h4>
        <div class="d-flex">
            <div class="form-group">

                @*   @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label" }) *@

                <div class="form-input">
                    <input class="form-control" id="firstNameMain" placeholder="First Name" required/>
                    @*  @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "First Name"} })

                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" }) *@

                </div>

            </div>

            <div class="form-group">

                @*  @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label" }) *@

                <div class="form-input">
                        <input class="form-control" id="lastNameMain" placeholder="Last Name" required />
                    @*  @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control",placeholder = "Last Name" } })

                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" }) *@

                </div>

            </div>
            <div class="form-group">



                <div class="form-input">
                        <input class="form-control" id="mobileMain" placeholder="Mobile" maxlength="10" pattern="\d{10}" type="number" required />


                </div>

            </div>
        </div>
        <div class="d-flex">

                <div class="form-group">



                    <div class="form-input">
                        <input class="form-control" id="emailMain" placeholder="Email" type="email" required />
                      
                    </div>

                </div>
           @*  <div class="form-group">



                <div class="form-input">

                        <select name="Relation" class="form-control" id="relationMain">
                        <option value="">Select Relation</option>
                         <option value="">Father</option>
                            <option value="">Mother</option>
                            <option value="">Son</option>
                            <option value="">Daughter</option>
                            <option value="">Brother</option>
                            <option value="">Sister</option>
                    </select>

                </div>

            </div> *@
            <div class="form-group">



                <div class="form-input">

                        <select name="Gender" class="form-control" id="genderMain" required>
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>

                </div>

            </div>

            <div class="form-group">



                <div class="form-input">
                        <input class="form-control" id="ageMain" placeholder="Age" required />
                       @*  <select name="Age" class="form-control" >
                        <option value="">Select Age</option>
                        </select> *@

                </div>

            </div>
        </div>

        <div class="d-flex">
            <div class="form-group">



                <div class="form-input">

                        <select name="Country" class="form-control" id="countryMain" required>
                        <option value="">Select Country</option>
                         
                    </select>


                </div>

            </div>

            <div class="form-group">



                <div class="form-input">

                        <select name="State" class="form-control" id="stateMain" required>
                        <option value="">Select State</option>
                        
                    </select>


                </div>

            </div>
                <div class="form-group">



                    <div class="form-input">

                        <select name="District" class="form-control" id="districtMain" required>
                            <option value="">Select District</option>

                        </select>


                    </div>

                </div>
            <div class="form-group">



                <div class="form-input">

                        <select name="City" class="form-control" id="cityMain" required>
                        <option value="">Select City</option>
                          
                    </select>

                </div>

            </div>


        </div>
        <div class="d-flex">
            <div class="form-group">



                <div class="form-input">

                        <select name="VisitPurpose" class="form-control" id="visitMain" required>
                        <option value="">Select Visit Purpose</option>
                            <option value="other">others</option>
                    </select>

                </div>

            </div>

            <div class="form-group">



                <div class="form-input">
                        <input class="form-control" placeholder="Coming From" id="comingMain" required/>


                </div>

            </div>
            <div class="form-group">



                <div class="form-input">

                        <select name="IdType" class="form-control" id="idtypeMain" required>
                        <option value="">Select ID Type</option>
                            <option value="adharcard">Adhar Card</option>
                    </select>

                </div>

            </div>
        </div>
        <div class="d-flex">
            <div class="profile-pic">

                <img alt="User Pic" src="/Areas/HotelDashboard/Content/Images/Icon/Screenshot 2023-09-28 143659.png" id="profile-image1" height="200" onclick="previewFile()">
               @*  <input id="profile-image-upload" class="hidden"> *@
                <div style="color:#999;">  </div>
                <p style="margin-top: auto;margin-bottom: auto;">Take Photo</p>
            </div>
            <div class="profile-pic">

                <img alt="User Pic" src="/Areas/HotelDashboard/Content/Images/Icon/Screenshot 2023-09-28 143659.png" id="profile-image1_ID" height="200">
                <input id="profile-image-upload_ID" class="hidden" type="file" onchange="previewFile_ID()">
                <div style="color:#999;">  </div>
                <p style="margin-top: auto;margin-bottom: auto;">Take ID Photo</p>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-md addChild" type="submit">Done</button>
        </div>
        </form>
    </div>
    <div id="formTable">
        <div class="text-right" style="margin-bottom:2%">
            <button class="btn btn-md addAdult" onclick="addAdult()">Add Adult</button>
            <button class="btn btn-md addChild" onclick="addChild()">Add Child</button>
        </div>
       @*  <table id="formdataTable" class="display">
            <thead>
                <tr>
                    <th>Guest Name</th>
                    
                    <th>Gender</th>
                    <th>age</th>
                   
                    <th>City</th>
                    <th>State</th>
                    <th>Comeing Form</th>
                    <th>Id Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table> *@

        <div>

            <div class="formDetails">

            </div>

        </div>
    </div>


</div>



<div class="modal fade" id="addImage" role="dialog">
    <div class="modal-dialog" style="width: 100%;height:100%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

            <div class="modal-body" style="margin:auto">
               
                <iframe src="./ImageCapture" style="width:100%;height:550px"></iframe>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addAdult" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
           
            <div class="modal-body" style="margin:auto">
                <form id="formAdult">
                    <h4>Adult 1</h4>
                    <div class="d-flex">
                        <div class="form-group">

                            @*   @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label" }) *@

                            <div class="form-input">
                                <input class="form-control" id="firstNameAdult" placeholder="First Name" />
                                @*  @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "First Name"} })

                                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" }) *@

                            </div>

                        </div>

                        <div class="form-group">

                            @*  @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label" }) *@

                            <div class="form-input">
                                <input class="form-control" id="lastNameAdult" placeholder="Last Name" />
                                @*  @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control",placeholder = "Last Name" } })

                                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" }) *@

                            </div>

                        </div>
                        <div class="form-group">



                            <div class="form-input">
                                <input class="form-control" id="mobileAdult" placeholder="Mobile" />


                            </div>

                        </div>
                    </div>
                    <div class="d-flex">


                        <div class="form-group">



                            <div class="form-input">

                                <select name="Relation" class="form-control" id="relationAdult">
                                    <option value="">Select Relation</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Brother">Brother</option>
                                    <option value="Sister">Sister</option>
                                    <option value="Son">Son</option>
                                    <option value="Dauther">Dauther</option>
                                </select>

                            </div>

                        </div>
                        <div class="form-group">



                            <div class="form-input">

                                <select name="Gender" class="form-control" id="genderAdult">
                                    <option value="">Select Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>

                            </div>

                        </div>

                        <div class="form-group">



                            <div class="form-input">
                                <input class="form-control" id="ageAdult" placeholder="Age" />
                               @*  <select name="Age" class="form-control">
                                    <option value="">Select Age</option>
                                </select> *@

                            </div>

                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form-group">



                            <div class="form-input">

                                <select name="Country" class="form-control" id="countryAdult">
                                    <option value="">Select Country</option>
                                    <option value="India">India</option>
                                </select>


                            </div>

                        </div>

                        <div class="form-group">



                            <div class="form-input">

                                <select name="State" class="form-control" id="stateAdult">
                                    <option value="">Select State</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                </select>


                            </div>

                        </div>
                        <div class="form-group">



                            <div class="form-input">

                                <select name="City" class="form-control" id="cityAdult">
                                    <option value="">Select City</option>
                                    <option value="Nagpur">Nagpur</option>
                                </select>

                            </div>

                        </div>


                    </div>
                    <div class="d-flex">
                        <div class="form-group">



                            <div class="form-input">

                                <select name="VisitPurpose" class="form-control" id="visitAdult">
                                    <option value="">Select Visit Purpose</option>
                                    <option value="Others">Others</option>
                                </select>

                            </div>

                        </div>

                        <div class="form-group">



                            <div class="form-input">
                                <input class="form-control" placeholder="Coming From" id="comingAdult" />


                            </div>

                        </div>
                        <div class="form-group">



                            <div class="form-input">

                                <select name="IdType" class="form-control" id="idTypeAdult">
                                    <option value="">Select ID Type</option>
                                    <option value="Adhar">Adhar Card</option>
                                </select>

                            </div>

                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="profile-pic">

                            <img alt="User Pic" src="/Areas/HotelDashboard/Content/Images/Icon/Screenshot 2023-09-28 143659.png" id="profile-image1" height="200">
                            <input id="profile-image-upload" class="hidden" type="file" onchange="previewFile()">
                            <div style="color:#999;">  </div>
                            <p style="margin-top: auto;margin-bottom: auto;">Take Photo</p>
                        </div>
                        <div class="profile-pic">

                            <img alt="User Pic" src="/Areas/HotelDashboard/Content/Images/Icon/Screenshot 2023-09-28 143659.png" id="profile-image1_ID" height="200">
                            <input id="profile-image-upload_ID" class="hidden" type="file" onchange="previewFile_ID()">
                            <div style="color:#999;">  </div>
                            <p style="margin-top: auto;margin-bottom: auto;">Take ID Photo</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-md addChild" type="submit">Done</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addChild" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

            <div class="modal-body" style="margin:auto">
                <form id="formChild">
                    <h4>Adult 1</h4>
                    <div class="d-flex">
                        <div class="form-group">

                            @*   @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label" }) *@

                            <div class="form-input">
                                <input class="form-control" id="firstNameChild" placeholder="First Name" />
                                @*  @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "First Name"} })

                                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" }) *@

                            </div>

                        </div>

                        <div class="form-group">

                            @*  @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label" }) *@

                            <div class="form-input">
                                <input class="form-control" id="lastNameChild" placeholder="Last Name" />
                                @*  @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control",placeholder = "Last Name" } })

                                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" }) *@

                            </div>

                        </div>
                       
                    </div>
                    <div class="d-flex">
                        <div class="form-group">



                            <div class="form-input">
                                <input class="form-control" id="ageChild" placeholder="Age" />
                               
                            </div>

                        </div>

                        <div class="form-group">



                            <div class="form-input">

                                <select name="Relation" id="realationChild" class="form-control">
                                    <option value="">Select Relation</option>
                                    <option value="Son">Son</option>
                                    <option value="Dauther">Dauther</option>
                                </select>

                            </div>

                        </div>
                        <div class="form-group">



                            <div class="form-input">

                                <select name="Gender" class="form-control" id="genderChild">
                                    <option value="">Select Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>

                            </div>

                        </div>

                       
                    </div>

                   @*  <div class="d-flex">
                      

                    </div> *@
                  
                    <div class="d-flex">
                        <div class="profile-pic" style="width:100%">

                            <img alt="User Pic" src="/Areas/HotelDashboard/Content/Images/Icon/Screenshot 2023-09-28 143659.png" id="profile-image1" height="200">
                            <input id="profile-image-upload" class="hidden" type="file" onchange="previewFile()">
                            <div style="color:#999;">  </div>
                            <p style="margin-top: auto;margin-bottom: auto;">Take Photo</p>
                        </div>
                      
                    </div>
                    <div class="text-center">
                        <button class="btn btn-md addChild" type="submit">Done</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<script>
   
    $(document).ready(function () {
        clock();
        function clock() {

            var now = new Date();
            var date = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
            var TwentyFourHour = now.getHours();
            var hour = now.getHours();
            var min = now.getMinutes();
            var sec = now.getSeconds();
            var mid = 'pm';
            if (sec < 10) {
                sec = "0" + sec;
            }
            if (min < 10) {
                min = "0" + min;
            }
            if (hour > 12) {
                hour = hour - 12;
            }
            if (hour < 10) {
                hour = "0" + hour;
            }
            if (hour == 0) {
                hour = 12;
            }
            if (TwentyFourHour < 12) {
                mid = 'am';
            }
            var dateTime = date + ' ' + hour + ':' + min + ' ' + mid;
            // setTimeout(clock, 1000);
            document.getElementById("currentTime").value = dateTime;
        }

        // For loading all Visit Purpose List
        $.ajax({
            type: "post",
            url: "/States/VisitPurposeList",
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                vplist = '<option value="">Select Visit Purpose</option>';
                for (var i = 0; i < data.length; i++) {
                    vplist = vplist + "<option value=" + data[i].id + ">" + data[i].purpose + "</option>";
                }
                //district = district + '</select>';
                $("#visitMain").html(vplist);
            },
        });

        // For loading all ID Proof Type List
        $.ajax({
            type: "post",
            url: "/States/IdProofTypeList",
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                idprooflist = '<option value="">Select ID Proof</option>';
                for (var i = 0; i < data.length; i++) {
                    idprooflist = idprooflist + "<option value=" + data[i].id + ">" + data[i].idProofType + "</option>";
                }
                //district = district + '</select>';
                $("#idtypeMain").html(idprooflist);
            },
        });

        // For loading all Active Country
        $.ajax({
            type: "post",
            url: "/States/CountryList",
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                countrylist = '<option value="">Select Country</option>';
                for (var i = 0; i < data.length; i++) {
                    countrylist = countrylist + "<option value=" + data[i].countryCode + ">" + data[i].countryName + "</option>";
                }
                //district = district + '</select>';
                $("#countryMain").html(countrylist);
            },
        });

        // for loading Country Wise State List
        $("#countryMain").change(function () {
            $.ajax({
                type: "post",
                url: "/States/CountryWiseStateList",
                data: { cCode: $("#countryMain").val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    // console.log("Selected State Id:" + $('#statelist').val());
                    // console.log(data);
                    var statelist = '<option value="">Select State</option>';
                    for (var i = 0; i < data.length; i++) {
                        statelist = statelist + "<option value=" + data[i].stateId + ">" + data[i].stateName + "</option>";
                    }
                    $("#stateMain").html(statelist);
                },
            });
        });
        // For loading all Active States
        // $.ajax({
        //     type: "post",
        //     url: "/States/StateList",
        //     datatype: "json",
        //     traditional: true,
        //     success: function (data) {
        //         console.log(data);
        //         statelist = '<option value="">Select State</option>';
        //         for (var i = 0; i < data.length; i++) {
        //             statelist = statelist + "<option value=" + data[i].stateId + ">" + data[i].stateName + "</option>";
        //         }
        //         //district = district + '</select>';
        //         $("#stateMain").html(statelist);
        //     },
        // });

     
        // for loading District List
        $("#stateMain").change(function () {
            $.ajax({
                type: "post",
                url: "/States/DistrictList",
                data: { stateID: $("#stateMain").val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    // console.log("Selected State Id:" + $('#statelist').val());
                    // console.log(data);
                    var distlist = '<option value="">Select District</option>';
                    for (var i = 0; i < data.length; i++) {
                        distlist = distlist + "<option value=" + data[i].distId + ">" + data[i].distName + "</option>";
                    }
                    $("#districtMain").html(distlist);
                },
            });
        });

        // for loading City List
        $("#districtMain").change(function () {
            $.ajax({
                type: "post",
                url: "/States/CityList",
                data: { stateID: $("#stateMain").val(), distID: $("#districtMain").val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    // console.log("Selected State Id:" + $('#statelist').val());
                    // console.log(data);
                    var citylist = '<option value="">Select City</option>';
                    for (var i = 0; i < data.length; i++) {
                        citylist = citylist + "<option value=" + data[i].cityId + ">" + data[i].cityName + "</option>";
                    }
                    $("#cityMain").html(citylist);
                },
            });
        });



    })
    function previewFile() {
        navigator.getMedia = (navigator.getUserMedia || // use the proper vendor prefix
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia);

        navigator.getMedia({ video: true }, function () {
            $("#addImage").modal({ backdrop: 'static', keyboard: false }, "show");
        }, function () {
            // webcam is not available
            alert("Web Cam Is Not Available");
        });
       

        // var preview = document.querySelector('img');
        // // var file = document.querySelector('input[type=file]').files[0];
        // var reader = new FileReader();

        // reader.addEventListener("load", function () {
        //     preview.src = reader.result;
        // }, false);

        // if (file) {
        //     reader.readAsDataURL(file);
        // }
    }
    // $(function () {
    //     $('#profile-image1').on('click', function () {
    //         $('#profile-image-upload').click();
    //     });
    // });
    

    function addAdult() {
        $("#addAdult").modal({ backdrop: 'static', keyboard: false }, "show");
    }
    function addChild() {
        $("#addChild").modal({ backdrop: 'static', keyboard: false }, "show");
    }

    const dataTable = $("#formdataTable").DataTable();
    const childDataArray = [];
    const addOnGuest = [];
   
    $("#main-form").submit(function (e) {
       // alert()
        // debugger
         e.preventDefault();
        const firstName = $("#firstNameMain").val();
        const lastName = $("#lastNameMain").val();
        const mobile = $("#mobileMain").val();
        const age = $("#ageMain").val();
        const gender = $("#genderMain").val();
        const email = $("#emailMain").val();
        const country = $("#countryMain").val();
        const state = $("#stateMain").val();
        const city = $("#cityMain").val();
        const visitPurpose = $("#visitMain").val();
        const comingFrom = $("#comingMain").val();
        const guestIdType = $("#idtypeMain").val();
        var formMaindata = {
            // firstName : firstName,
            // lastName : lastName,
            hotelRegNo: "Collection123",
            guestName:  firstName + " " + lastName,
            guestType: "Adult",
            gender: gender,
            email: email,
            country: country,
            state: state,
            city: city,
            numberOfGuest: 3,
            age: age,
            mobile: mobile,
            visitPurpose: visitPurpose,
            roomType: "AC",
            roomNo: 108,
            comingFrom: comingFrom,
            guestIdType: guestIdType,
            guestIDProof: "data:image/png;base64,iVBORw0KGg",
            "guestPhoto": "data:image/jpeg;base64,/9j/4AA",
            paymentMode: "Cash",
        }

        // Save main data in localStorage
        localStorage.setItem("mainData", JSON.stringify(formMaindata));

        // Add main data as the first row in DataTable
       // dataTable.row.add([formMaindata.guestName, formMaindata.gender, formMaindata.age, formMaindata.city, formMaindata.state, formMaindata.comingFrom, formMaindata.guestIdType]).draw();
       
      
        console.log(formMaindata)
        document.querySelector('.formDetails').innerHTML += `
         <div class="card">
                 <h2>${formMaindata.guestName}</h2>
                 <h3>${formMaindata.age}</h3>
                 <p> ${formMaindata.city}</p>
              
           </div>
          `;
        $("#main-form").hide();
        $("#formTable").show();
        e.target.reset();

    });

    $("#formAdult").submit(function (e) {
        e.preventDefault();

        // Retrieve main data from localStorage
        const mainDataJSON = localStorage.getItem("mainData");
        const firstName = $("#firstNameAdult").val() + " " + $("#lastNameAdult").val();
        const age = $("#ageAdult").val();
        const gender = $("#genderAdult option:selected").text();;
       
        if (mainDataJSON) {
            const mainData = JSON.parse(mainDataJSON);
            var formChilddata = {
                guestName: $("#firstNameAdult").val() + " " + $("#lastNameAdult").val(),
                age: $("#ageAdult").val(),
                mobile: $("#mobileAdult").val(),
                relationWithGuest: $("#relationAdult").val(),
                guestType: "Adult",
                gender: $("#genderAdult").val(),
                email: $("#emailAdult").val(),
                country: $("#countryAdult").val(),
                state: $("#stateAdult").val(),
                city: $("#cityAdult").val(),
                comingFrom: $("#comingAdult").val(),
                guestIdType: $("#idTypeAdult").val(),
                guestIDProof: "data:image/png;base64,iVBORw0",
                guestPhoto: "data:image/jpeg;base64,/9j/4AAQSkZJ"
            }

           

            // Add child data as the second row in DataTable
            dataTable.row.add([formChilddata.guestName, formChilddata.gender, formChilddata.age, formChilddata.city, formChilddata.state, formChilddata.comingFrom, formChilddata.guestIdType]).draw();

            // Save the last child data in the array
            childDataArray.push(formChilddata);
            document.querySelector('.formDetails').innerHTML += `
             <div class="card">
                         <h2>${firstName}</h2>
                         <h3>${gender}</h3>
                         

               </div>
              `;
            // const formData = {
            //     mainData,
            //     addOnGuest: [
            //         childDataArray
            //     ]
            // };
            // console.log(formData)
            $("#addAdult").modal("hide");
            e.target.reset();
            // Clear the child form input
           
        } else {
            alert("Please submit main data first.");
        }
    });

    $("#formChild").submit(function (e) {
        e.preventDefault();

        // Retrieve main data from localStorage
        const mainDataJSON = localStorage.getItem("mainData");

        if (mainDataJSON) {
            const mainData = JSON.parse(mainDataJSON);
            var formChilddata = {
                guestName: $("#firstNameChild").val() + " " + $("#lastNameChild").val(),
                age: $("#ageChild").val(),
              
                relationWithGuest: $("#relationChild").val(),
                guestType: "Child",
                gender: $("#genderChild").val(),
               
               
               
                guestIDProof: "data:image/png;base64,iVBORw0",
                guestPhoto: "data:image/jpeg;base64,/9j/4AAQSkZJ"
            }



            // Add child data as the second row in DataTable
            dataTable.row.add([formChilddata.guestName, formChilddata.gender, formChilddata.age, formChilddata.city, formChilddata.state, formChilddata.comingFrom, formChilddata.guestIdType]).draw();

            // Save the last child data in the array
            childDataArray.push(formChilddata);
            // const formData = {
            //     mainData,
            //     addOnGuest: [
            //         childDataArray
            //     ]
            // };
            // console.log(formData)
            // Clear the child form input
            $(formChilddata).val("");
        } else {
            alert("Please submit main data first.");
        }
    });

    // for (var i = 0; i < shopData.length; i++) {
    //     document.querySelector('.formDetails').innerHTML += `
    //   <div class="card">
    //       <img src="${shopData[i].image}" alt="">
    //       <h3>$${shopData[i].price}</h3>
    //       <h1> ${shopData[i].title}</h1>
    //       <p> ${shopData[i].description}</p>
    //       <button>Buy now</button>
    //    </div>
    //   `;

    // }
</script>

