@model HotelGuestVerifyByPolice_CMS.Models.DepartLogin
@{
    ViewBag.Title = "Department Login";
    Layout = "";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
    body {
        background-image: linear-gradient( 45deg, hsl(264deg 73% 38%) 0%, hsl(259deg 68% 39%) 16%, hsl(253deg 64% 40%) 32%, hsl(247deg 61% 41%) 49%, hsl(241deg 58% 42%) 66%, hsl(234deg 65% 40%) 83%, hsl(228deg 78% 36%) 100% ) !important;
       
    }

    wordtune-read-extension {
        display: none !important
    }

    .login_form {
        background: #fff;
        width: 46%;
        border-radius: 20px;
        padding: 50px;
        padding-left: 85px;
        padding-bottom: 25px;
        margin-left:auto;
        position:relative;
    }

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
        margin-bottom: 20px;
    }

        .form-control:focus {
            color: #212529;
            background-color: #fff !important;
            border-color: none;
            outline: 0;
            box-shadow: none !important;
            border-bottom: 2px solid #9979f6 !important;
        }

    .login_img {
        position: absolute;
        top: 11%;
        left: 16%;
    }

    .toggle-password {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        margin-top: -40px;
    }

    #departImg {
        width: 500px
    }

    @@media only screen and (max-device-width: 600px) {
        #departImg {
            width: 360px
        }

        .login_img {
            top: 9%;
            left: 14%;
        }

        .login_form {
           
            width: 55%;
           
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */


    /* Medium devices (landscape tablets, 768px and up) */
    @@media only screen and (min-device-width: 768px) and (max-device-width:992px) {
        #departImg {
            width: 380px
        }

        .login_img {
            top: 13%;
            left: 12%;
        }

        .login_form {
            width: 55%;
        }
    }

    @@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
        /* For landscape layouts only */
        #departImg {
            width: 400px
        }

        .login_img {
            top: 15%;
        }
    }

    /* styles for browsers larger than 960px; */

    @@media only screen and (min-width: 1440px) and (max-device-width: 1500px) {
        #departImg {
            width: 500px
        }

        .login_img {
            left: 17%;
        }
    }

</style>
<div class=" bg-gradient">
    <p class="text-right py-3" style="padding-right:10%;font-size:20px;color:#fff;font-weight:600">  <a href="../Home/index" style="color:#fff">Home</a></p>
    <div class="container" style="padding-top:4%;padding-right:11%;padding-bottom:5%;">
       
        <h2 style="color:#fff;margin-bottom:20px;font-weight:600;text-align:end">
            Department Login
        </h2>
@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login_form">
               
            <div>
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "USERNAME"} })

                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" ,placeholder = "PASSWORD"} })

                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                    <p class="text-end"><a href="/Account/DepartForgetPassword">Forget Password ?</a></p>
                    <p style="color:red"> @ViewBag.msg</p>
            </div>
              
            <div class="text-center" style="margin-top:15px"><button class="btn btn-primary" style="font-weight:700;background:#0b38ad;border-color:#0b38ad;padding:5px 30px;font-size:16px;border-radius:5px;">LOGIN</button></div>

        </div>
        <div class="login_img">
                <img src="/images/policestation.png" id="departImg" />
        </div>
}

        <div class="text-right" style="margin-top:30px;margin-right:6%">
           @*  <button class="btn btn-primary" style="font-weight:700;background:#9e66ff;border-color:#9e66ff;padding:5px 40px;font-size:16px;border-radius:5px">
                <a href="../Home/index" style="color:#fff"> Home</a>
            </button> *@
            <button class="btn btn-primary" style="font-weight:700;background:#2b7408;border-color:#2b7408;padding:5px 40px;font-size:16px;border-radius:5px">
                <a href="../Account/DepartmentAuthentication" style="color:#fff">  Department Registration!</a>
            </button>
            <p style="color:#fff;margin-top:10px">Click here for the Department registration.</p>
        </div>
    </div>
</div>

@section Scripts {

    @* @Scripts.Render("~/bundles/jqueryval") *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

}
<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>