@model HotelGuestVerifyByPolice_CMS.Models.ForgetHotelPass
@{
    ViewBag.Title = " Forget Password";
    Layout = "";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
  body {
        background-image: linear-gradient( 15deg, hsl(255deg 86% 72%) 0%, hsl(249deg 89% 74%) 26%, hsl(242deg 92% 75%) 39%, hsl(236deg 94% 75%) 48%, hsl(230deg 95% 74%) 55%, hsl(226deg 95% 74%) 61%, hsl(223deg 95% 73%) 68%, hsl(220deg 93% 73%) 75%, hsl(217deg 91% 72%) 82%, hsl(215deg 89% 72%) 91%, hsl(213deg 86% 72%) 100% ) !important;
      
    }

    wordtune-read-extension {
        display: none !important
    }

    .login_form {
        background: #fff;
        width: 60%;
        border-radius: 20px;
        padding: 50px;
        padding-right: 85px;
        padding-bottom: 25px
    }

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
        margin-bottom: 35px;
    }

        .form-control:focus {
            color: #212529;
            background-color: #fff !important;
            border-color: none;
            outline: 0;
            box-shadow: none !important;
            border-bottom: 2px solid #9979f6 !important;
        }

    .login_img {
        position: absolute;
        top: 11%;
        right: 21%;
    }

    #forgetPass{display:none}

    input[type=checkbox]{
        display: none;
    }
</style>


<div class=" bg-gradient">
    <div class="container" style="padding-top: 8%;padding-left: 6%;padding-bottom:5%;" id="sendOtp">
        <div style="margin-left:25%">
            <h2 style="color:#fff;margin-bottom:20px;font-weight:600;margin-left:5%">
                Please Enter Your UserName
            </h2>
            <div class="login_form">
                <span id="sendotpres"></span>
                <span id="useriderror"></span>
                <input class="form-control" id="userid" placeholder="Enter UserName" />
                
                <button class="btn btn-primary mt-2 mb-4" onclick="SendOTP()">Send OTP</button>
                <input class="form-control" id="otp" placeholder="Enter OTP" /> 
                <input type="hidden" id="getotp" value=""/>
                <div class="text-center"> <button class="btn btn-primary mt-2 mb-4" onclick="submitOTP()">Submit</button></div>
            </div>
         
        </div>
    </div>



    <div class="container" style="padding-top: 8%;padding-left: 6%;" id="forgetPass">
        <div style="margin-left:25%">
            <h2 style="color:#fff;margin-bottom:20px;font-weight:600;margin-left:10%">
               Forget Password
            </h2>
            <input type="hidden" id="userid" value="@ViewBag.userid" />
            @using (Html.BeginForm())

            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login_form">
                    <div>
                        @*    <input class="form-control" placeholder="USERNAME" /> *@
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" ,placeholder = "", style = "display:none"} })
                        @Html.CheckBoxFor(model => model.otpstatus, new { htmlAttributes = new { style = "display:none"} })
                    </div>
                    <div>
                        @*    <input class="form-control" placeholder="USERNAME" /> *@
                        @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" ,placeholder = "Enter New Password"} })

                        @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @*  <input class="form-control" placeholder="PASSWORD" style="margin-bottom:25px"/> *@
                        @Html.EditorFor(model => model.cPass, new { htmlAttributes = new { @class = "form-control" ,placeholder = "Re-Enter New Password"} })

                        @Html.ValidationMessageFor(model => model.cPass, "", new { @class = "text-danger" })

                    </div>

                    <div class="text-center" style="margin-top:30px">
                        <button class="btn btn-primary" style="font-weight:700;background:#9979f6;border-color:#9979f6;padding:5px 30px;font-size:16px;border-radius:5px;">SUBMIT</button>
                    </div>

                </div>
            }
        </div>
    </div>

</div>

@if (ViewBag.msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.msg");
            window.location.href = "/Account/Hotellogin";
        };

    </script>
}
<script>

    function SendOTP() {
        debugger;
        if ($('#userid').val() == null || $('#userid').val() == "") {
            $('#useriderror').text("Please Enter Username");
            let useriderror = document.getElementById("useriderror");
            useriderror.style.color = 'red';
        }
        else {
            let useriderror = document.getElementById("useriderror");
            useriderror.style.display = 'none';

            $.ajax({
                type: "post",
                url: "/Account/CheckHotelUsername",
                data: { username: $('#userid').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    json = JSON.parse(data);
                    console.log(json.message);
                    document.getElementById("getotp").value = json.otp;
                    document.getElementById("username").value = json.userid;

                    let button = document.getElementById("sendotpres");
                    button.style.display = "block";
                    if (json.status == "success") { // if button color is red change it green otherwise change it to red.
                        button.style.color = 'green';
                    } else {
                        button.style.color = 'red';
                    }
                    $('#sendotpres').text(json.message);
                }
            });
        }
            
    }
</script>
<script>
    function submitOTP() {
        debugger;
       
        var otp1 = document.getElementById("getotp").value;
        var otp2 = document.getElementById("otp").value;

        if (otp1 == otp2) {
            alert('submit Successfully')
            document.getElementById("otpstatus").checked = true;

            // var x = document.getElementById("userid").value;
            // document.getElementById("username").value = x;
            $('#sendOtp').hide()
            $('#forgetPass').show()
        }
        else {
            alert('Submited OTP Does Not Match')
            document.getElementById("otpstatus").checked = false;
            $('#sendOtp').show()
            $('#forgetPass').hide()
        }
    }
</script>