@model HotelGuestVerifyByPolice_CMS.Models.HotelLogin
@{
    ViewBag.Title = "Hotel Login";
    Layout = "";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
    body {
        background-image: linear-gradient( 15deg, hsl(255deg 86% 72%) 0%, hsl(249deg 89% 74%) 26%, hsl(242deg 92% 75%) 39%, hsl(236deg 94% 75%) 48%, hsl(230deg 95% 74%) 55%, hsl(226deg 95% 74%) 61%, hsl(223deg 95% 73%) 68%, hsl(220deg 93% 73%) 75%, hsl(217deg 91% 72%) 82%, hsl(215deg 89% 72%) 91%, hsl(213deg 86% 72%) 100% ) !important;
 
    }

    wordtune-read-extension {
        display: none !important
    }

    .login_form {
        background: #fff;
        width: 45%;
        border-radius:20px;
        padding: 50px;
        padding-right:85px;
        padding-bottom: 25px
    }

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
        margin-bottom: 20px;
    }

        .form-control:focus {
            color: #212529;
            background-color: #fff !important;
            border-color: none;
            outline: 0;
            box-shadow: none !important;
            border-bottom: 2px solid #9979f6 !important;
        }

        .login_img{
        position: absolute;
        top:11%;
        right: 20%;
        }

    .toggle-password {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        margin-top: -40px;
    }
</style>
<div class=" bg-gradient">
    <p class="text-right py-3" style="padding-right:10%;font-size:20px;color:#fff;font-weight:600">  <a href="../Home/index" style="color:#fff">Home</a></p>
    <div class="container" style="padding-top: 4%;padding-left: 6%;padding-bottom:5%">
    <h2 style="color:#fff;margin-bottom:20px;font-weight:600">
       Hotel Login
    </h2>
    @using (Html.BeginForm())

{

    @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="login_form">
        <div>
             @*    <input class="form-control" placeholder="USERNAME" /> *@
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "USERNAME"} })

                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div>
            @*  <input class="form-control" placeholder="PASSWORD" style="margin-bottom:25px"/> *@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" ,placeholder = "PASSWORD"} })
                    <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <p class="text-end"><a href="/Account/ForgetPassword">Forget Password ?</a></p>
                    <p style="color:red"> @ViewBag.msg</p>
        </div>

         <div class="text-center" style="margin-top:15px">
             <button class="btn btn-primary" style="font-weight:700;background:#9979f6;border-color:#9979f6;padding:5px 30px;font-size:16px;border-radius:5px;">LOGIN</button>
         </div>
       
        <div class="login_img">
            <img src="/images/img_hotel.png" style="width:500px"/>
        </div>


       
    </div>
           
    }
        
        <div class="text-left" style="margin-top:30px;margin-left:10%">
          @*   <button class="btn btn-primary" style="font-weight:700;background:#3622df;border-color:#3622df;padding:5px 40px;font-size:16px;border-radius:5px">
                <a href="../Home/index" style="color:#fff"> Home</a>
            </button> *@
            <button class="btn btn-primary" style="font-weight:700;background:#2b7408;border-color:#2b7408;padding:5px 40px;font-size:16px;border-radius:5px;">
                <a href="../Account/HotelRegistration" style="color:#fff">  Hotel Registration!</a>
            </button>
            <p style="color:#fff;margin-top:10px">Click here for the hotel registration.</p>
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

            
       
  
    </script>
    @* @Scripts.Render("~/bundles/jqueryval") *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

}
<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>