
@using Newtonsoft.Json
@model HotelGuestVerifyByPolice_CMS.Areas.Department.Models.DeptDashboardRes
@{
    Layout = "";
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="/Areas/HotelDashboard/Content/css/Layout_CSS.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7w-l0RWEUVqhXyshtsgdkqJDNxaKQ5lY&callback=initMap" async defer></script>
<style>
    wordtune-read-extension{display:none}
    body{
        margin:0px;padding:0px
    }
    .nav-bg {
        background-image: linear-gradient( 45deg, hsl(264deg 73% 38%) 0%, hsl(259deg 68% 39%) 16%, hsl(253deg 64% 40%) 32%, hsl(247deg 61% 41%) 49%, hsl(241deg 58% 42%) 66%, hsl(234deg 65% 40%) 83%, hsl(228deg 78% 36%) 100% ) !important;
    }

    .navbar-header a span {
        color: #fff;
        margin-left: 25px;
        font-size: 16px
    }

    .ml-auto{margin-left:auto}

    #nav-details span{
        color:#fff;
        margin-right: 12px;
    }

    #userDetails{
        background: #1831a5;
        border-radius:5px;
        color:#fff;
       

    }

    th{
        background: #1831a5;
        font-weight: 500;
     padding:4px;
     color:#fff;
     width:100px
    }
    tbody, td, tfoot, thead, tr {
        font-size: 13px;
        text-align:center;
        padding:4px;
       /*  background: #220a52; */
        background: #fff;
        color: #303030;
    }

    table td:nth-child(3){
        color: #0ca10c
    }

    table td:nth-child(4) {
        color: #cb0000
    }

   .card {
        margin: 0 -8px 32px -8px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 2px 2px 8px rgb(0 0 0 / 31%);
        background: #fff;
    }

    .guestDetails {
        padding-top: 2%;
        padding-left: 2%;
        padding-bottom: 1%;
    }

        .guestDetails h6{}
    .guestDetails h6{
        font-size:12px;
        margin-bottom:4px
    }
    .dataTime{font-size:16px}

    #secRow{display:none}

    #hideSecRow {
        display: none
    }
    .width{width:110px !important}
</style>


<div>
    <div class="px-6 nav-bg" style="width:100%;height:50px">

        <div class="container-fluid" style="padding-top:1%;">
            <div class="navbar-header" style="display:inline" >
                <a href="./DepartmentHome">   <span><i class="fa-solid fa-house" style="color: #ffffff;margin-right: 10px"></i>Dashboard</span></a>
                <a href="./DepartmentHome"> <span><i class="fa-solid fa-hotel" style="color:#fff;margin-right: 10px"></i>Find Hotels Details</span></a>
            </div>
            <div style="float:right;padding-right:40px" id="nav-details">
                <span id="showSecRow"><img src="../Areas/HotelDashboard/Content/Images/Icon/maximize_(1).png" style="width:24px;"/></span>
                <span id="hideSecRow"><img src="../Areas/HotelDashboard/Content/Images/Icon/minimize.png" style="width:24px;" /></span>
                <span>Live </span>
                <span style="display:inline-block;background:red;height:15px;width:15px;border-radius:50%"></span>
                <span><i class="fa-regular fa-bell" style="color: #ffffff;"></i></span>
                <span style="color:#fff;font-size:16px;">
                    @if (ViewBag.departuser != null)
                    {
                        @ViewBag.departuser
                    }
                    else
                    {

                    }
                </span>

                <span onclick="logout()"><i class="fa-solid fa-right-from-bracket" style="color:#fff"></i></span>
            </div>
        </div>
        
    </div>
    <div class="row mx-1 py-2">
        <div class="col-md-3 col-lg-3">
           <div id="userDetails" class="py-3">
                <h4 class="text-center">
                    @if (ViewBag.departuser != null)
                    {
                        @ViewBag.departuser
                    }
                    else
                    {

                    }
                </h4>
                <h4 class="text-center">@Model.stationName</h4>
           </div>

            <div class="p-1 mt-1" style="background:#1831a5;border-radius:5px">
                <h6 class="text-white">Nagpur Rigion</h6>
                <div id="map" style="height: 220px;"></div>
           </div>
           <div class="mt-2">
                <table id="example" class="display" cellspacing="0" width="100%" style="display:block;overflow-y:auto;height:210px;border: 1px solid #1831a5;">
                    <thead>
                        <tr>
                            <th>Police Station</th>
                            <th>Hotels</th>
                            <th>Total Check-In</th>
                            <th>Today Check-In</th>
                            <th>Today Check-Out</th>
                           
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var hldfd in Model.hotelListDetailsForDashboards)
                        {
                            <tr>
                                <td>@hldfd.stationName</td>
                                <td>@hldfd.hotelCount</td>
                                <td>@hldfd.totalCheckIn</td>
                                <td>@hldfd.todaysCheckIn</td>
                                <td>@hldfd.todaysCheckOut</td>

                            </tr>
                        }
                       
                    </tbody>
                </table>
           </div>
        </div>
        <div class="col-md-9 col-lg-9">
            @for (var i = 0; i < Model.hotelGuestDetails_DeptDashes.Count; i += 2)
            {
                <div class="row cardDeatils">
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="d-flex">
                                <div>
                                    @if (@Model.hotelGuestDetails_DeptDashes[i].guestPhoto == null)
                                    {
                                        <img src="../Areas/HotelDashboard/Content/Images/Icon/avatars-000396781371-h4mpjo-t500x500.jpg" style="width:230px" />
                                    }
                                    else
                                    {

                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.hotelGuestDetails_DeptDashes[i].guestPhoto)" alt="Image" style="width:230px" />
                                    }

                                </div>
                                <div class="guestDetails">
                                    <h5>@Model.hotelGuestDetails_DeptDashes[i].guestName</h5>
                                    <h6>Age : @Model.hotelGuestDetails_DeptDashes[i].age</h6>
                                    <h6>City : @Model.hotelGuestDetails_DeptDashes[i].city</h6>
                                    <h6>Purpose : @Model.hotelGuestDetails_DeptDashes[i].visitPurpose</h6>
                                    <h6>Comeing From : @Model.hotelGuestDetails_DeptDashes[i].comingFrom</h6>
                                    <h6>Reservation : @Model.hotelGuestDetails_DeptDashes[i].reservation</h6>

                                    <h6>@Model.hotelGuestDetails_DeptDashes[i].hotelName</h6>
                                    <h6>Check-In</h6>
                                    <h5 class="dataTime">@Model.hotelGuestDetails_DeptDashes[i].checkInDate</h5>

                                    <h6>Remark : </h6>
                                    <h6 style="text-align:end">View All</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (i + 1 < Model.hotelGuestDetails_DeptDashes.Count)
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="card">
                                <div class="d-flex">
                                    <div>
                                        @if (@Model.hotelGuestDetails_DeptDashes[i + 1].guestPhoto == null)
                                        {
                                            <img src="../Areas/HotelDashboard/Content/Images/Icon/avatars-000396781371-h4mpjo-t500x500.jpg" style="width:230px" />
                                        }
                                        else
                                        {

                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.hotelGuestDetails_DeptDashes[i + 1].guestPhoto)" alt="Image" style="width:230px" />
                                        }

                                    </div>
                                    <div class="guestDetails">
                                        <h5>@Model.hotelGuestDetails_DeptDashes[i + 1].guestName</h5>
                                        <h6>Age : @Model.hotelGuestDetails_DeptDashes[i + 1].age</h6>
                                        <h6>City : @Model.hotelGuestDetails_DeptDashes[i + 1].city</h6>
                                        <h6>Purpose : @Model.hotelGuestDetails_DeptDashes[i + 1].visitPurpose</h6>
                                        <h6>Comeing From : @Model.hotelGuestDetails_DeptDashes[i + 1].comingFrom</h6>
                                        <h6>Reservation : @Model.hotelGuestDetails_DeptDashes[i + 1].reservation</h6>

                                        <h6>@Model.hotelGuestDetails_DeptDashes[i + 1].hotelName</h6>
                                        <h6>Check-In</h6>
                                        <h5 class="dataTime">@Model.hotelGuestDetails_DeptDashes[i + 1].checkInDate</h5>

                                        <h6>Remark : </h6>
                                        <h6 style="text-align:end">View All</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            
            <div class="mt-2">
                <table id="guestTable" class="display" cellspacing="0"  style="width:100%;display:block;overflow-y:auto;height:300px;border: 1px solid #1831a5;">
                    <thead>
                        <tr>
                            <th class="width">Hotel Name</th>
                            <th class="width">Guest Name</th>
                            <th class="width">Age</th>
                            <th class="width">Purpose</th>
                            <th class="width">Coming From </th>
                            <th class="width">Reservation</th>
                            <th class="width">Contact</th>
                            <th class="width">City</th>
                            <th class="width">Check-in</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var hgdt in Model.hotelGuestDetails_DeptDashes2)
                        {
                            <tr>
                                <td>@hgdt.hotelName</td>
                                <td>@hgdt.guestName</td>
                                <td>@hgdt.age</td>
                                <td>@hgdt.visitPurpose</td>
                                <td>@hgdt.comingFrom</td>
                                <td>@hgdt.reservation</td>
                                <td>@hgdt.mobile</td>
                                <td>@hgdt.city</td>
                                <td>@hgdt.checkInDate</td>

                            </tr>
                        }
                        
                       
                    </tbody>
                </table>
            </div>
        </div>

    </div>



   
</div>



<script>
    $(document).ready(function () {
       
        $('.cardDeatils').hide();
        $('.cardDeatils:first').show();

        var table = $('#example').DataTable({
            searching: false, paging: false, info: false
            
        });//End of create main table

        $('#guestTable').DataTable({
            searching: false, paging: false, info: false
           
        });//End of create main table

        $("#showSecRow").click(function () {
            $(".cardDeatils:eq(1)").show();
           
            $("#showSecRow").hide();
            $("#hideSecRow").show();

        });
        $("#hideSecRow").click(function () {
            $(".cardDeatils:eq(1)").hide();
            $("#showSecRow").show();
            $("#hideSecRow").hide();

        });


    });
    // var map;

    // function initMap() {
    //    // const { Map } = await google.maps.importLibrary("maps");

    //     map = new Map(document.getElementById("map"), {
    //         center: { lat: 21.1458, lng: 79.0882 },
    //         zoom: 8,
    //     });
    // }

    // initMap();

    var map;
    function initMap() {
        debugger;
        var locations = @Html.Raw(JsonConvert.SerializeObject(Model.hotelLocOnDashboards));

        var mapOptions = {
            center: new google.maps.LatLng(locations[0].lat, locations[0]._long),
            zoom: 20,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var infowindow = new google.maps.InfoWindow();
        bounds = new google.maps.LatLngBounds();
        var marker, i;
        // Specify the icon size using the iconSize property
        var customIcon = {
            url: '../../images/pin-point.png', // Specify the URL to your custom marker icon
            scaledSize: new google.maps.Size(32, 32), // Set the size of the icon (e.g., 32x32 pixels)
        };

        if (locations.length > 0) {
        // Calculate the center point
        var centerLat = 0;
        var centerLng = 0;

        locations.forEach(function (location) {
                centerLat += location.lat;
                centerLng += location._long;
        });

        centerLat /= locations.length;
        centerLng /= locations.length;

        // Set the map center to the calculated center point
        map.setCenter({ lat: centerLat, lng: centerLng });
        }

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i].lat, locations[i]._long),
                map: map,

                icon: customIcon,
                label: {
                   // text: locations[i].hotelName,
                    color: "black",
                    fontWeight: "bold",
                    fontSize: "13px",
                    margin: "55px"
                }
            });

            loc = new google.maps.LatLng(locations[i].lat, locations[i]._long),

                bounds.extend(loc);

            //New Marker Click
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {

                    var latlng = new google.maps.LatLng(locations[i].lat, locations[i]._long);
                    var geocoder = geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                            if (results[0]) {
                                //alert("Location: " + results[1].formatted_address);
                                var address = results[0].formatted_address;
                                infowindow.setContent('<div class=infowindow> <h3>' + locations[i].hotelName + '</h3><h5><b>Details:</b></h5><p><b>Mobile:</b>' + locations[i].Mobile + '</div>');
                                infowindow.open(map, marker);
                            }
                            else {
                                var address = "Not Mention";
                                infowindow.setContent('<div class=infowindow> <h3>' + locations[i].hotelName + '</h3><h5><b>Details:</b></h5><p><b>Mobile:</b>' + locations[i].Mobile + '</div>');
                                infowindow.open(map, marker);
                            }
                        }
                        else {
                            infowindow.setContent('<div class=infowindow> <h3>' + locations[i].hotelName + '</h3><h5><b>Details:</b></h5><p><b>Mobile:</b>' + locations[i].Mobile + '</div>');
                            infowindow.open(map, marker);
                        }
                    });


                }
            })(marker, i));



        }
        map.fitBounds(bounds);
        map.panToBounds(bounds);
    }
    google.maps.event.addDomListener(window, 'load', initMap);

 

</script>