@using Newtonsoft.Json
@model HotelGuestVerifyByPolice_CMS.Areas.Department.Models.DeptSearchHotelRes
@{
    Layout = "_DepartLayout";
    ViewData["Title"] = "Find Hotel";
}
<link rel="stylesheet" href="/Areas/HotelDashboard/Content/css/Layout_CSS.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.23/daterangepicker.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.23/daterangepicker.min.js"></script>


<script src="../../Areas/Department/Content/js/SearchHotel.js"></script>

<style>
    wordtune-read-extension {
        display: none
    }

    body {
        margin: 0px;
        padding: 0px
    }

    .nav-bg {
        background-image: linear-gradient( 45deg, hsl(264deg 73% 38%) 0%, hsl(259deg 68% 39%) 16%, hsl(253deg 64% 40%) 32%, hsl(247deg 61% 41%) 49%, hsl(241deg 58% 42%) 66%, hsl(234deg 65% 40%) 83%, hsl(228deg 78% 36%) 100% ) !important;
    }

    .navbar-header a span {
        color: #fff;
        margin-left: 25px;
        font-size: 16px
    }

    .ml-auto {
        margin-left: auto
    }

    #nav-details span {
        color: #fff;
        margin-right: 12px;
    }

    #userDetails {
        background: #ebebeb;
        border-radius: 5px;
        color: #fff;
    }

    th {
       /*  background: #1831a5; */
        background: #189ea5;    
        font-weight: 500;
        padding: 4px;
        color: #fff;
        width: 100px
    }

    tbody, td, tfoot, thead, tr {
        font-size: 13px;
        text-align: center;
        padding: 4px;
        /*  background: #220a52; */
        background: #fff;
        color: #303030;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 5px !important;
        min-width:128px;
    }
    table td:nth-child(3) {
        color: #0ca10c
    }

    table td:nth-child(4) {
        color: #cb0000
    }

    .card {
        margin: 0 -8px 32px -8px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow:0px 0px 12px 2px rgb(0 0 0 / 31%);;
        background: #fff;
    }

   #showSecRow,#hideSecRow{display:none;}
    .searchbtn {
        margin-left: 35%;
        margin-top: 6%;
    }
    #shlist{padding:10px 10px}
    #sdlist, #sclist, #spolicelist{
        display:none;padding:10px 10px
    }

    .tableDesign {
        display: block;
        overflow-y: auto;
        height: 260px;
        border: 1px solid rgb(206 212 241);
        border-radius: 5px;
        box-shadow: 2px 2px 8px rgb(0 0 0 / 31%);
    }

    .width {
        width: 122px !important
    }

    table.dataTable.no-footer{border-color:#fff !important}
    .cardData{font-weight:600}

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
       
    }

    .form-group {
        width: 45% !important;
        margin-right: 5% !important;
    }

    .daterangepicker{left:650px !important}
</style>

@* <div>
    <div class="px-6 nav-bg" style="width:100%;height:50px">

        <div class="container-fluid" style="padding-top:1%;">
            <div class="navbar-header" style="display:inline">
                <a href="./Index">   <span><i class="fa-solid fa-house" style="color: #ffffff;margin-right: 10px"></i>Dashboard</span></a>
                <a href="./DepartmentHome/SearchHotel"> <span><i class="fa-solid fa-hotel" style="color:#fff;margin-right: 10px"></i>Find Hotels Details</span></a>
            </div>
            <div style="float:right;padding-right:40px" id="nav-details">
               
                <span style="display:inline-block;background:red;height:15px;width:15px;border-radius:50%"></span>
                <span><i class="fa-regular fa-bell" style="color: #ffffff;"></i></span>
                <span style="color:#fff;font-size:16px;">
                    @if (ViewBag.departuser != null)
                    {
                        @ViewBag.departuser
                    }
                    else
                    {

                    }
                </span>

                <span onclick="logout()"><i class="fa-solid fa-right-from-bracket" style="color:#fff"></i></span>
            </div>
        </div>

    </div> *@

    <div class="row mx-1 py-2">
        <div class="col-md-3 col-lg-3">
            @using (Html.BeginForm())

            {
                <div id="userDetails" class="py-3">
                    <div class="form-input" id="sdlist">
                        <select id="sdistlist" name="distId" class="form-control"></select>
                    </div>
                    <div class="form-input" id="sclist">
                        <select id="scitylist" name="cityId" class="form-control"></select>
                    </div>
                    <div class="form-input" id="spolicelist">
                        <select id="spslist" name="psId" class="form-control"></select>
                    </div>
                    <div class="form-input" id="shlist">
                        <select id="shotellist" name="hotelRegNo" class="form-control"></select>
                    </div>
               @*  <div class ="form-input">
                    <input type="text" id="daterange" class="form-control" />
                </div> *@
                    <div class="searchbtn">
                        <button class="btn btn-lg btn-primary" id="hsearchbtn" type="submit">Search</button>
                    </div>
               
                </div>
            }
        
          
            <div id="lastvisitor" class="" style="margin-top: 10%;">
                @if(Model.lastVisitors != null)
                {
                <div class="row" style="box-shadow:0px 0px 12px 2px rgb(0 0 0 / 31%);border-radius:5px;margin: 0px 0px 20px 0px">
                        <div class="col-md-6">
                             @if (@Model.lastVisitors.guestPhoto == null)
                            {
                            <img src="/Areas/Department/Content/Images/Icons/avatars.jpg" style="width:150px;height: 165px;padding: 5px;margin-top: 20%;border-radius:6px;" />

                            }
                            else
                            {

                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.lastVisitors.guestPhoto)" alt="Image" style="width:150px;height: 165px;;margin-top: 20%;border-radius:6px;" />
                            }
                        </div>
                        <div class="col-md-6">

                            <h3>@Model.lastVisitors.guestName</h3>
                            <p class="cardData"> <span>Age </span>@Model.lastVisitors.age</p>
                            <p><span>City </span>@Model.lastVisitors.city</p>
                            <p><span>Purpose </span>@Model.lastVisitors.purpose</p>
                            <p><span>Comming From </span>@Model.lastVisitors.commingFrom</p>
                            <p><span>Reservation </span>@Model.lastVisitors.reservaion</p>
                            <p><span>Check-In</span> @Model.lastVisitors.checkInDate</p>
                        </div>
                    </div>
                }
             
                
            </div>
        </div>
        @if (Model.hotelTitle != null)
        {
            <div class="col-md-9 col-lg-9">
                <div class="row card" style="display:-webkit-box;padding:25px">
                    <div class="col-lg-6 col-md-6">
                        <h6>@Model.hotelTitle.hotelName</h6>
                        <p><span>Address: </span> @Model.hotelTitle.address</p>
                        <p><span>Phone: </span> @Model.hotelTitle.mobile</p>
                        <p><span>City: </span> @Model.hotelTitle.city</p>
                        <p><span>Police Station: </span> @Model.hotelTitle.policeSation</p>
                    </div>
                    <div class="col-lg-6 col-md-6">

                       @*  <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" id="startDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" id="endDate" class="form-control">
                        </div> *@
                    <div class="form-input">
                        <input type="text" id="daterange" class="form-control text-center" />
                    </div>
                      <div class="text-center mt-5">  <button type="button" id="filterButton" class="btn btn-lg btn-primary">Filter</button></div>
                    </div>
                </div>

                <div class="row">
                <table id="data-table" class="display tableDesign" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                            <th class="width">Guest Name</th>
                            <th class="width">Reservation</th>
                            <th class="width">Night Stay</th>
                            <th class="width">Last Visit</th>
                            <th class="width">Contact</th>
                            <th class="width">City</th>
                            <th class="width">Address</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var hDash in Model.hotelGuests)
                            {
                                <tr>
                           
                                    <td>@hDash.guestName</td>
                                    <td>@hDash.reservation</td>
                                    <td>@hDash.nightStayed</td>
                                    <td>@hDash.lastVisit</td>
                                    <td>@hDash.mobile</td>
                                    <td>@hDash.city</td>
                                    <td>@hDash.address</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        }
          
    </div>


</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        debugger;
        const table = document.getElementById('data-table');
        const filterButton = document.getElementById('filterButton');

        filterButton.addEventListener('click', function () {
            debugger;
            const startDate = new Date(document.getElementById('startDate').value);
            const endDate = new Date(document.getElementById('endDate').value);

          
            // Ensure that both dates are valid
            if (!isNaN(startDate) && !isNaN(endDate)) {
                const sdate = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
                const edate = new Date(endDate.getFullYear(), endDate.getMonth(), endDate.getDate());
                const rows = table.getElementsByTagName('tr');

                for (let i = 1; i < rows.length; i++) {
                    const row = rows[i];
                    const cellDate = new Date(row.getElementsByTagName('td')[3].textContent); // Assuming date is in the third column

                    if (cellDate >= sdate && cellDate <= edate) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            }
        });
        $('#data-table').DataTable({
            dom: 'Bfrtip',
            searching: true, paging: false, info: false, autoWidth: false,
                buttons: [

                {
                    extend:    'excelHtml5',
                    text:      '<img src="/Areas/Department/Content/Images/Icons/excel.jpg" style="width:30px;border:none"/>',
                    titleAttr: 'Excel'
                },


                 {
                    extend:    'pdfHtml5',
                    text:      '<img src="/Areas/Department/Content/Images/Icons/Icon_pdf_file.svg.png" style="width:25px;border:none"/>',
                    titleAttr: 'PDF'
                }
            ]

        });//End of create main table
    });
</script>

<script type="text/javascript">

    // $("#hsearchbtn").click(function () {
    //     debugger;
    //     var hregno = $("#shotellist").val()
    //     $.ajax({
    //         type: "post",
    //         url: "/Department/DepartmentHome/SearchHotel",
    //         data: { hotelRegNo: hregno },
    //         datatype: "json",
    //         traditional: true,
    //         success: function (data) {
              
    //            //console.log(data);
    //            //var newdata = JSON.stringify(data);
    //            console.log(data);
    //            var outputElement = document.getElementById('lastvisitor');

    //            // Create HTML content with the data
    //             var htmlContent = '<div class="row">' +
    //                               '  <div class="col-md-6">';
    //             if(data.lastVisitors.guestPhoto != null){
    //                    htmlContent +=  '<img src="data:image/jpeg;base64,' + data.lastVisitors.guestPhoto + '" alt="Image" style="width:230px;height: 250px;" />' +
    //                                    '</div>';
    //             }
    //             else{
    //                 htmlContent +=  '<img src="../Areas/HotelDashboard/Content/Images/Icon/avatars-000396781371-h4mpjo-t500x500.jpg" style="width:230px;height: 250px;" />' +
    //                                    '</div>';
    //             }
    //             htmlContent += '<div class="col-md-6">'+
    //                            '<p>Name: ' + data.lastVisitors.guestName + '</p>' +
    //                            '</div>';
    //             htmlContent += '</div>';
    //             // Set the HTML content of the output element
    //             outputElement.innerHTML = htmlContent;
                 
                
    //         },
    //     });
    // });
    document.getElementById("hsearchbtn").disabled = true;

    
    console.log("Department Login Type" + '@ViewBag.dType');
    debugger;
    var departType = @ViewBag.dType;
    var dSId = parseInt(@ViewBag.dStateId);
    var dDId = parseInt(@ViewBag.dDistId);
    var dCId = parseInt(@ViewBag.dCityId);
    var dSCode = parseInt(@ViewBag.dSCode);
  
  
    var sdlist = document.getElementById('sdlist');
    var sclist = document.getElementById('sclist');
    var spolicelist = document.getElementById('spolicelist');

    // for loading City List
    $("#sdistlist").change(function () {
        $.ajax({
            type: "post",
            url: "/States/CityList",
            data: { stateID: dSId, distID: $("#sdistlist").val()},
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var citylist = '<option value="">Select City</option>';
                if(data != null)
                {
                     for (var i = 0; i < data.length; i++) {
                    citylist = citylist + "<option value=" + data[i].cityId + ">" + data[i].cityName + "</option>";
                }
                $("#scitylist").html(citylist);
                }
                else{
                     $("#scitylist").html(citylist);
                }
                
            },
        });
    });


    // for loading Police Station List
    $("#scitylist").change(function () {
        $.ajax({
            type: "post",
            url: "/States/PoliceStationList",
            data: { stateID: dSId, distID: dDId, cityID: $("#scitylist").val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var pslist = '<option value="">Select Police Station</option>';
                if(data != null)
                {
                     for (var i = 0; i < data.length; i++) {
                    pslist = pslist + "<option value=" + data[i].stationCode + ">" + data[i].stationName + "</option>";
                }
                $("#spslist").html(pslist);
                }
               else{
                      $("#spslist").html(pslist);
               }
            },
        });
    });

    // for loading Police Station List
    $("#spslist").change(function () {
        $.ajax({
            type: "post",
            url: "/States/HotelList",
            data: { psId: $("#spslist").val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var hotellist = '<option value="">Select Hotel</option>';
                   if(data != null)
                   {
                      for (var i = 0; i < data.length; i++)
                      {
                        hotellist = hotellist + "<option value=" + data[i].hotelRegNo + ">" + data[i].hotelName + "</option>";
                      }
                        $("#shotellist").html(hotellist);
                   }
                    else{
                         $("#shotellist").html(hotellist);
                    }
            },
        });
    });

    // 
    $("#shotellist").change(function () {
        debugger;
        var hregno = $("#shotellist").val()

        if (hregno != "") {
            document.getElementById("hsearchbtn").disabled = false;
        }
    });
    if (departType == "1") {
        sdlist.style.display = "block";
        sclist.style.display = "block";
        spolicelist.style.display = "block";

        $.ajax({
            type: "post",
            url: "/States/DistrictList",
            data: { stateID: dSId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var distlist = '<option value="">Select District</option>';
                for (var i = 0; i < data.length; i++) {
                    distlist = distlist + "<option value=" + data[i].distId + ">" + data[i].distName + "</option>";
                }
                $("#sdistlist").html(distlist);
            },
        });

       

    }
    else if (departType == "2") {

        sclist.style.display = "block";
        spolicelist.style.display = "block";


        $.ajax({
            type: "post",
            url: "/States/CityList",
            data: { stateID: dSId, distID: dDId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var citylist = '<option value="">Select City</option>';
                for (var i = 0; i < data.length; i++) {
                    citylist = citylist + "<option value=" + data[i].cityId + ">" + data[i].cityName + "</option>";
                }
                $("#scitylist").html(citylist);
            },
        });

       
    }
    else if (departType == "3") {

        spolicelist.style.display = "block";

        $.ajax({
            type: "post",
            url: "/States/PoliceStationList",
            data: { stateID: dSId, distID: dDId, cityID: dCId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var pslist = '<option value="">Select Police Station</option>';
                for (var i = 0; i < data.length; i++) {
                    pslist = pslist + "<option value=" + data[i].id + ">" + data[i].stationName + "</option>";
                }
                $("#spslist").html(pslist);
            },
        });

        
    }

    else if (departType == "4") {

        $.ajax({
            type: "post",
            url: "/States/HotelList",
            data: { psId: dSCode },
            datatype: "json",
            traditional: true,
            success: function (data) {
                // console.log("Selected State Id:" + $('#statelist').val());
                // console.log(data);
                var hotellist = '<option value="">Select Hotel</option>';
                for (var i = 0; i < data.length; i++) {
                    hotellist = hotellist + "<option value=" + data[i].hotelRegNo + ">" + data[i].hotelName + "</option>";
                }
                $("#shotellist").html(hotellist);
            },
        });
    }
    $(function () {
        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#daterange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#daterange').daterangepicker({
            alwaysShowCalendars: true,
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    });

    // function logout() {
    //     debugger;

    //     $.ajax({
    //         type: "post",
    //         url: "/Account/DepartLogout",
    //         datatype: "json",
    //         traditional: true,
    //         success: function (data) {
    //             console.log(data);
    //             window.location.href = '../../Account/DepartmentLogin';

    //         }
    //     });
    // }
</script>